<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="APIServiceURLZoneInfo" value="https://webservices.autotask.net/ATServices/1.5/atws.asmx" />
    <add key="APIUsername" value="support@tceglobal.net" />
    <add key="APIPassword" value="TC&amp;support16!" />
  </appSettings>
</configuration>