<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- Autotask SOAP-based API credentials and service url. Change as per your environment.-->
    <add key="APIServiceURLZoneInfo" value="https://webservices.autotask.net/ATServices/1.5/atws.asmx" />
  </appSettings>
</configuration>